.todo-list {
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.time {
    font-size: 0.8rem;
    position: absolute;
    bottom: 0.5rem;
}