.is-done{
    text-decoration: #cb2431 line-through;
}
.delete{
    position: absolute;
    top: -12px;
    right: -8px;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 0.88rem;
}
.todo {
    color: #20232a;
    padding: 0.4rem;
    background: #ffe564;
    border-radius: 0.25rem;
    position: relative;
    margin: 0.8rem;
    cursor: pointer;
    width: 10rem;
    height: 10rem;
    text-align: left;
    text-overflow: ellipsis;
    word-break: break-word;
}

.todo:hover {
    transform: translateY(-0.2rem);
    transition: all .3s ease 0ms;;
}

.todo .text {
    max-height: 8rem;
    overflow: hidden;
    font-size: 1.5rem;
}