.is-done{
    text-decoration: #cb2431 line-through;
}

.todo {
    color: #20232a;
    text-overflow: ellipsis;
    word-break: break-word;
}

.todo .time {
    font-size: 0.8rem;
    margin: 20px 0 -15px 0;
    color: rgba(0, 0, 0, .45);
}